<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/alliance.css">
		<script src="../js/main.js"></script>
		<script src="../js/alliance.js"></script>
	</head>
	<body>
		<div id="popup_mask" style="display: none;"></div>
		<div id="popup_membres" class="fenetre" style="display:none;">
			<table>
				<caption>Membres de l'&eacute;quipe</caption>
				<thead>
					<tr>
						<td colspan="2">Joueur</td>
					</tr>
				</thead>
				<tbody id="members_list">
				</tbody>
			</table>
			<fieldset id="inviter">
				<legend>Inviter</legend>
				<input type="search" placeholder="Joueur" id="joueur_a_inviter" list="user_autocomplete_list">
				<img src="../image/equipe/inviter.png" class="button" id="bouton_inviter">
			</fieldset>
			<fieldset id="expulser">
				<legend>Explulser</legend>
				<input type="search" placeholder="Joueur" id="joueur_a_expulser" list="members_autocomplete_list">
				<img src="../image/equipe/expulser.png" class="button" id="bouton_expulser">
			</fieldset>
			<fieldset id="transferer">
				<legend>Tranf&eacute;rer la propori&eacute;t&eacute;</legend>
				<input type="search" placeholder="Joueur" id="joueur_a_transferer" list="members_autocomplete_list">
				<img src="../image/equipe/chef.png" class="button" id="bouton_transferer">
			</fieldset>
		</div>
		<div id="popup_change_description" class="fenetre" style="display:none;">
			<textarea id="new_description" style="height:100px;"></textarea>
		</div>
		<div id="popup_finances" class="fenetre" style="display:none;">
			<fieldset>
				<legend>Ressources de l'alliance</legend>
				<div class="ressource">
					<img src="../image/ressources/energie.png" class="icon_ressource">
					<span class="text_ressource" id="preview_energie">100</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/carbone.png" class="icon_ressource">
					<span class="text_ressource" id="preview_carbone">10</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/oxygene.png" class="icon_ressource">
					<span class="text_ressource" id="preview_oxygene">10</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/azote.png" class="icon_ressource">
					<span class="text_ressource" id="preview_azote">10</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/iode.png" class="icon_ressource">
					<span class="text_ressource" id="preview_iode">10</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/brome.png" class="icon_ressource">
					<span class="text_ressource" id="preview_brome">10</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/hydrogene.png" class="icon_ressource">
					<span class="text_ressource" id="preview_hydrogene">10</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/soufre.png" class="icon_ressource">
					<span class="text_ressource" id="preview_soufre">10</span>
				</div>
				<div class="ressource">
					<img src="../image/ressources/chlore.png" class="icon_ressource">
					<span class="text_ressource" id="preview_chlore">10</span>
				</div>
			</fieldset>
			<img src="../image/ressources/energie.png" class="icon">
			<input id="finances_energie" type="number" placeholder="Energie" min="0"><br>
			<img src="../image/ressources/carbone.png" class="icon">
			<input id="finances_carbone" type="number" placeholder="Carbone" min="0"><br>
			<img src="../image/ressources/oxygene.png" class="icon">
			<input id="finances_oxygene" type="number" placeholder="Oxyg&egrave;ne" min="0"><br>
			<img src="../image/ressources/azote.png" class="icon">
			<input id="finances_azote" type="number" placeholder="Azote" min="0"><br>
			<img src="../image/ressources/iode.png" class="icon">
			<input id="finances_iode" type="number" placeholder="Iode" min="0"><br>
			<img src="../image/ressources/brome.png" class="icon">
			<input id="finances_brome" type="number" placeholder="Brome" min="0"><br>
			<img src="../image/ressources/hydrogene.png" class="icon">
			<input id="finances_hydrogene" type="number" placeholder="Hydrog&egrave;ne" min="0"><br>
			<img src="../image/ressources/soufre.png" class="icon">
			<input id="finances_soufre" type="number" placeholder="Soufre" min="0"><br>
			<img src="../image/ressources/chlore.png" class="icon">
			<input id="finances_chlore" type="number" placeholder="Chlore" min="0"><br>
			<input id="finances_alliance" type="search" placeholder="Alliance (transfers)" list="team_autocomplete_list"><br>
			<div class="button_labeled" id="donner">
				<img class="button_labeled_image" src="../image/equipe/donner.png">
				<span class="button_labeled_label">Donner &agrave; l'alliance</span>
			</div>
			<div class="button_labeled" id="demander">
				<img class="button_labeled_image" src="../image/equipe/demander.png">
				<span class="button_labeled_label">Demander &agrave; l'alliance</span>
			</div>
			<div class="button_labeled" id="transferer_ressources">
				<img class="button_labeled_image" src="../image/equipe/transferer.png">
				<span class="button_labeled_label">Transferer &agrave; une autre alliance</span>
			</div>
			<table id="demandes">
				<caption>Demandes de ressources</caption>
				<thead>
					<tr>
					<td>Joueur</td>
					<td><img src="../image/ressources/carbone.png" class="icon"></td>
					<td><img src="../image/ressources/oxygene.png" class="icon"></td>
					<td><img src="../image/ressources/azote.png" class="icon"></td>
					<td><img src="../image/ressources/iode.png" class="icon"></td>
					<td><img src="../image/ressources/brome.png" class="icon"></td>
					<td><img src="../image/ressources/hydrogene.png" class="icon"></td>
					<td><img src="../image/ressources/soufre.png" class="icon"></td>
					<td><img src="../image/ressources/chlore.png" class="icon"></td>
					<td><img src="../image/ressources/energie.png" class="icon"></td>
					<td colspan="2">action</td>
					</tr>
				</thead>
				<tbody id="list_donnation_ask">
				</tbody>
			</table>
		</div>
		<div id="popup_grades" class="fenetre" style="display:none;">
			<fieldset>
				<legend>Ajouter un grade</legend>
				<input id="nom_grade" type="text" placeholder="Nom du grade">
				<br>
				<input id="posseseur_grade" type="search" placeholder="Possesseur du grade" list="members_autocomplete_list">
				<br>
				<input id="perm_guerre_grade" type="checkbox">
				<img src="../image/equipe/guerre.png" class="icon">
				Permet de d&eacute;clarer et finir les guerres
				<br>
				<input id="perm_pacte_grade" type="checkbox">
				<img src="../image/equipe/pacte.png" class="icon">
				Permet de d&eacute;clarer et finir les pactes
				<br>
				<input id="perm_finance_grade" type="checkbox">
				<img src="../image/equipe/finance.png" class="icon">
				Permet de g&eacute;rer les ressources de l'alliance
				<br>
				<input id="perm_grades_grade" type="checkbox">
				<img src="../image/equipe/grade.png" class="icon">
				Permet de g&eacute;rer les grades
				<blockquote>
					<img src="../image/autre/danger.png" class="icon">
					Cette permission permet de s'attribuer toutes les autres
				</blockquote>
				<input id="perm_inviter_grade" type="checkbox">
				<img src="../image/equipe/inviter.png" class="icon">
				Permet d'inviter des joueurs
				<br>
				<input id="perm_expulser_grade" type="checkbox">
				<img src="../image/equipe/expulser.png" class="icon">
				Permet d'expulser des joueurs
				<br>
				<input id="perm_description_grade" type="checkbox">
				<img src="../image/equipe/description.png" class="icon">
				Permet de modifier la description de l'alliance
				<br>
				<input id="valider_grade" type="button" value="Valider">
			</fieldset>
			<table>
				<caption>Grades</caption>
				<thead>
					<tr>
					<td>Grade</td>
					<td>Joueur</td>
					<td><img src="../image/equipe/guerre.png" class="icon"></td>
					<td><img src="../image/equipe/pacte.png" class="icon"></td>
					<td><img src="../image/equipe/finance.png" class="icon"></td>
					<td><img src="../image/equipe/grade.png" class="icon"></td>
					<td><img src="../image/equipe/inviter.png" class="icon"></td>
					<td><img src="../image/equipe/expulser.png" class="icon"></td>
					<td><img src="../image/equipe/description.png" class="icon"></td>
					<td>Action</td>
					</tr>
				</thead>
				<tbody id="list_grades">
				</tbody>
			</table>
		</div>
		<div id="popup_pactes" class="fenetre" style="display:none;">
			<fieldset>
				<legend>Nouveau pacte</legend>
				<input type="search" placeholder="Alliance" id="new_pacte_alliance" list="team_autocomplete_list">
				<img src="../image/equipe/pacte.png" class="button" id="new_pacte_bouton">
			</fieldset>
			<table>
				<caption>Pactes actuels</caption>
				<thead>
					<tr>
						<td>Avec</td>
						<td></td>
					</tr>
				</thead>
				<tbody id="pactes_list">
				</tbody>
			</table>
		</div>
		<div id="popup_guerres" class="fenetre" style="display:none;">
			<fieldset>
				<legend>Nouvelle guerre</legend>
				<input type="search" placeholder="Alliance" id="new_guerre_alliance" list="team_autocomplete_list">
				<img src="../image/equipe/guerre.png" class="button" id="new_guerre_bouton">
			</fieldset>
			<table>
				<caption>Guerres actuelles</caption>
				<thead>
					<tr>
						<td>Avec</td>
						<td></td>
					</tr>
				</thead>
				<tbody id="guerres_list">
				</tbody>
			</table>
		</div>
		<div id="alliance" class="alternate_body">
			<h2 id="nom"></h2>
			<fieldset>
				<legend>
					<h3>Description</h3>
				</legend>
				<div id="description"></div>
			</fieldset>
			<div id="actions"></div>
		</div>
		<div id="no_alliance" class="alternate_body">
			<fieldset>
				<legend>
					<h3>Invitations</h3>
				</legend>
				<div id="invitations"></div>
			</fieldset>
			<fieldset>
				<legend>
					<h3>Cr&eacute;er une alliance</h3>
				</legend>
				<input type="text" id="name_team" placeholder="Nom de l'alliance">
				<div class="ressource">
					<img src="../image/ressources/energie.png" class="icon_ressource">
					<span class="text_ressource negative">100K</span>
				</div>
				<input type="button" id="create_team" value="Cr&eacute;er">
			</fieldset>
		</div>
	</body>
</html>
