<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/alliance.css">
		<script src="../js/main.js"></script>
		<script src="../js/alliance.js"></script>
	</head>
	<body>
		<div id="popup_membres" class="fenetre" style="display:none;">
			<fieldset id="inviter">
				<legend>Inviter</legend>
				<input type="search" placeholder="Joueur" id="joueur_a_inviter" list="user_autocomplete_list">
				<img src="../image/boutons/plus.png" class="button" id="bouton_inviter">
			</fieldset>
		</div>
		<div id="alliance" class="alternate_body">
			<h2 id="nom"></h2>
			<fieldset>
				<legend>
					<h3>Description</h3>
				</legend>
				<div id="description"></div>
			</fieldset>
			<div id="actions"></div>
		</div>
		<div id="no_alliance" class="alternate_body">
			<fieldset>
				<legend>
					<h3>Invitations</h3>
				</legend>
				<div id="invitations"></div>
			</fieldset>
			<fieldset>
				<legend>
					<h3>Cr&eacute;er une alliance</h3>
				</legend>
				<input type="text" id="name_team" placeholder="Nom de l'alliance">
				<div class="ressource">
					<img src="../image/ressources/energie.png" class="icon_ressource">
					<span class="text_ressource negative">100K</span>
				</div>
				<input type="button" id="create_team" value="Cr&eacute;er">
			</fieldset>
		</div>
	</body>
</html>
