<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/armee.css">
		<script src="../js/main.js"></script>
		<script src="../js/armee.js"></script>
	</head>
	<body>
		<div id="create_mol_popup" class="fenetre" style="display:none">
			<form name="create_mol_form">
				<h2>Cr&eacute;er une nouvelle classe de mol&eacute;cules</h2>
				<img src="../image/ressources/carbone.png" class="icon"><input name="carbone" type="number" placeholder="Carbone" min="0" max="200"><br>
				<img src="../image/ressources/oxygene.png" class="icon"><input name="oxygene" type="number" placeholder="Oxyg&egrave;ne" min="0" max="200"><br>
				<img src="../image/ressources/azote.png" class="icon"><input name="azote" type="number" placeholder="Azote" min="0" max="200"><br>
				<img src="../image/ressources/iode.png" class="icon"><input name="iode" type="number" placeholder="Iode" min="0" max="200"><br>
				<img src="../image/ressources/brome.png" class="icon"><input name="brome" type="number" placeholder="Brome" min="0" max="200"><br>
				<img src="../image/ressources/hydrogene.png" class="icon"><input name="hydrogene" type="number" placeholder="Hydrog&egrave;ne" min="0" max="200"><br>
				<img src="../image/ressources/soufre.png" class="icon"><input name="soufre" type="number" placeholder="Soufre" min="0" max="200"><br>
				<img src="../image/ressources/chlore.png" class="icon"><input name="chlore" type="number" placeholder="Chlore" min="0" max="200"><br>
				<img id="create_mol_valider" class="button" src="../image/boutons/valider.png">
				<img id="create_mol_annuler" class="button" src="../image/boutons/annuler.png">
			</form>
		</div>
		<div id="mol0" class="mol">
			<table>
				<tbody>
					<tr>
						<td class="align_left cell_left">
							<span id="formule0" class="formule">Vide</span>
							<div class="ressource">
								<img src="../image/armee/molecule.png" class="icon_ressource">
								<span class="text_ressource" id="number_mol0">0</span>
							</div>
						</td>
						<td class="align_right cell_right">
							<img class="button" src="../image/boutons/plus.png" id="creat_mol0">
							<img class="button" src="../image/boutons/moins.png" id="delete_mol0">
						</td>
					</tr>
					<tr>
						<td class="align_center cell_left">
							<input id="new_mol0_number" class="new_mol_number" type="number" min="0" step="1" max="0">
						</td>
						<td class="align_right cell_right">
							<input type="button" id="new_mol0" value="Former">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="mol1" class="mol">
			<table>
				<tbody>
					<tr>
						<td class="align_left cell_left">
							<span id="formule1" class="formule">Vide</span>
							<div class="ressource">
								<img src="../image/armee/molecule.png" class="icon_ressource">
								<span class="text_ressource" id="number_mol1">0</span>
							</div>
						</td>
						<td class="align_right cell_right">
							<img class="button" src="../image/boutons/plus.png" id="creat_mol1">
							<img class="button" src="../image/boutons/moins.png" id="delete_mol1">
						</td>
					</tr>
					<tr>
						<td class="align_center cell_left">
							<input id="new_mol1_number" class="new_mol_number" type="number" min="0" step="1" max="0">
						</td>
						<td class="align_right cell_right">
							<input type="button" id="new_mol1" value="Former">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="mol2" class="mol">
			<table>
				<tbody>
					<tr>
						<td class="align_left cell_left">
							<span id="formule2" class="formule">Vide</span>
							<div class="ressource">
								<img src="../image/armee/molecule.png" class="icon_ressource">
								<span class="text_ressource" id="number_mol2">0</span>
							</div>
						</td>
						<td class="align_right cell_right">
							<img class="button" src="../image/boutons/plus.png" id="creat_mol2">
							<img class="button" src="../image/boutons/moins.png" id="delete_mol2">
						</td>
					</tr>
					<tr>
						<td class="align_center cell_left">
							<input id="new_mol2_number" class="new_mol_number" type="number" min="0" step="1" max="0">
						</td>
						<td class="align_right cell_right">
							<input type="button" id="new_mol2" value="Former">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="mol3" class="mol">
			<table>
				<tbody>
					<tr>
						<td class="align_left cell_left">
							<span id="formule3" class="formule">Vide</span>
							<div class="ressource">
								<img src="../image/armee/molecule.png" class="icon_ressource">
								<span class="text_ressource" id="number_mol3">0</span>
							</div>
						</td>
						<td class="align_right cell_right">
							<img class="button" src="../image/boutons/plus.png" id="creat_mol3">
							<img class="button" src="../image/boutons/moins.png" id="delete_mol3">
						</td>
					</tr>
					<tr>
						<td class="align_center cell_left">
							<input id="new_mol3_number" class="new_mol_number" type="number" min="0" step="1" max="0">
						</td>
						<td class="align_right cell_right">
							<input type="button" id="new_mol3" value="Former">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="mol4" class="mol">
			<table>
				<tbody>
					<tr>
						<td class="align_left cell_left">
							<span id="formule4" class="formule">Vide</span>
							<div class="ressource">
								<img src="../image/armee/molecule.png" class="icon_ressource">
								<span class="text_ressource" id="number_mol4">0</span>
							</div>
						</td>
						<td class="align_right cell_right">
							<img class="button" src="../image/boutons/plus.png" id="creat_mol4">
							<img class="button" src="../image/boutons/moins.png" id="delete_mol4">
						</td>
					</tr>
					<tr>
						<td class="align_center cell_left">
							<input id="new_mol4_number" class="new_mol_number" type="number" min="0" step="1" max="0">
						</td>
						<td class="align_right cell_right">
							<input type="button" id="new_mol4" value="Former">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>
