<!DOCTYPE html>
<html>
	<head>
		<title>the very little war</title>
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/armee.css">
		<script src="../js/main.js"></script>
		<script src="../js/armee.js"></script>
	</head>
	<body>
		<div id="mol1" class="mol">
			<table>
				<tbody>
					<tr>
						<td class="align_left cell_left">
							<span id="fomule1" class="formule">Vide</span>
							<div class="ressource">
								<img src="../image/armee/molecule.png" class="icon_ressource">
								<span class="text_ressource" id="number_mol1">0</span>
							</div>
						</td>
						<td class="align_right cell_right">
							<img class="button" src="../image/boutons/plus.png" id="creat_mol1">
							<img class="button" src="../image/boutons/moins.png" id="delete_mol1">
						</td>
					</tr>
					<tr>
						<td class="align_center cell_left">
							<input id="new_mol1_number" class="new_mol_number" type="number" min="0" step="1" max="0">
						</td>
						<td class="align_right cell_right">
							<input type="button" id="new_mol1" value="Former">
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</body>
</html>