<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/carte.css">
		<script src="../js/main.js"></script>
		<script src="../js/carte.js"></script>
	</head>
	<body>
		<div id="popup_mask" style="display: none;"></div>
		<div id="popup_user" class="fenetre" style="display:none;">
			<div class="ressource">
				<img src="../image/autre/username.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_name">Bidule</span>
			</div>
			<br/>
			<div class="ressource" id="team_link" style="cursor:pointer;">
				<img src="../image/lieux/alliance.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_team">Aucune</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/points.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_points">0</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/victoires.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_victory">0</span>
			</div>
			<br/>
			<div class="ressource" id="postion_link" style="cursor:pointer;">
				<img src="../image/lieux/carte.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_position">Aucune</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/autre/calendrier.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_last_connexion">Jamais</span>
			</div>
			<br/>
			<div id="user_actions">
				<div class="button_labeled" id="user_button_attaquer">
					<img src="../image/actions/combat.png" class="button_labeled_image">
					<span class="button_labeled_label">Attaquer</span>
				</div>
				<div class="button_labeled" id="user_button_espionner">
					<img src="../image/actions/esp.png" class="button_labeled_image">
					<span class="button_labeled_label">Espionner</span>
				</div>
				<div class="button_labeled" id="user_button_donner">
					<img src="../image/actions/don.png" class="button_labeled_image">
					<span class="button_labeled_label">Donner</span>
				</div>
			</div>
			<fieldset>
				<legend>Description</legend>
				<div id="user_description"></div>
			</fieldset>
		</div>
		<div id="map_ground">
		</div>
		<div id="preview">
			Nom : <span id="preview_user">Aucun</span><br/>
			Alliance : <span id="preview_team">X</span><br/>
			Points : <span id="preview_points">X</span><br/>
		</div>
	</body>
</html>
