<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/carte.css">
		<script src="../js/main.js"></script>
		<script src="../js/carte.js"></script>
	</head>
	<body>
		<div id="popup_mask" style="display: none;"></div>
		<div id="popup_actionframe" class="fenetre" style="display:none;">
			<iframe src="userteam.html" style="height:500px;"></iframe>
		</div>
		<div id="map_ground">
		</div>
		<div id="preview">
			Nom : <span id="preview_user">Aucun</span><br/>
			Alliance : <span id="preview_team">X</span><br/>
			Points : <span id="preview_points">X</span><br/>
		</div>
	</body>
</html>
