<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Crédits</title>
<link rel="stylesheet" href="../css/main.css">
<style>
a{
	text-decoration: underline;
}
</style>
</head>
<body>
<fieldset>
<legend><h2>Cr&eacute;dits</h2></legend>
Certaines icônes viennent de <a href="http://www.freepik.com/">Freepik</a>, <a href="https://www.flaticon.com/fr/auteurs/pixel-perfect">Pixel perfect</a> sur <a href="https://www.flaticon.com/">www.flaticon.com</a><br/>
Les images de bâtiments viennent de <a href="http://game-icons.net/">Game-icons.net</a><br/>
Les atomes et d'autres images viennent de <a href="http://theverylittlewar.com/">the very little war original</a><br/>
Grand merci &agrave; Guortates pour ce jeu original qui a servi de base pour cette version<br/>
Merci &agrave; Enigma pour sa contribution bien que faible<br/>
Merci &agrave; Atomex pour la création des bases des systèmes d'API et de serveur<br/>
Merci &agrave; Anonymail pour la création de nombreuses API et pages statiques<br/>
Merci &agrave; Etoma pour leur participation active aux tests du site, qui a permis de trouver et de corriger de nombreux bugs<br/>
Merci &agrave; Somebody pour sa correction de nombreuses fautes d'orthographes<br/>
Merci &agrave; Nadaca pour avoir proposé repl.it comme hébergeur et donné les idées qui ont donnés BDD externes sur <a href="http://jsonblob.com">jsonblob.com</a><br/>
Et merci &agrave; tous les testeurs et participants aux votes du développement
</fieldset>
</body>
</html>
