<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Crédits</title>
<link rel="stylesheet" href="../css/main.css">
<style>
a{
	text-decoration: underline;
}
</style>
</head>
<body>
<fieldset>
<legend><h2>Cr&eacute;dits</h2></legend>
Certains icones viennent de <a href="http://www.freepik.com/">Freepik</a>, <a href="https://www.flaticon.com/fr/auteurs/pixel-perfect">Pixel perfect</a> sur <a href="https://www.flaticon.com/">www.flaticon.com</a><br/>
Les images de batiments viennent de <a href="http://game-icons.net/">Game-icons.net</a><br/>
Les atomes viennent de <a href="http://theverylittlewar.com/">the very little war original</a><br/>
Merci &agrave; Guortates pour ce jeu original qui a servis de base pour cette version<br/>
Merci &agrave; Enigma pour sa contribution bien que faible<br/>
Merci &agrave; Atomex pour la création des bases des systèmes d'API et de serveur<br/>
Merci &agrave; Anonymail pour la création de nombreuses API et pages statiques.
</fieldset>
</body>
</html>
