<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/gestion_user.css">
		<script src="../js/main.js"></script>
		<script src="../js/gestion_user.js"></script>
	</head>
	<body>
		<div id="topbar">
			<img src="../image/banniere.png">
		</div>
		<fieldset>
			<legend><h3>Changer la description</h3></legend>
			<textarea id="new_description"></textarea>
		</fieldset>
		<br/>
		<fieldset>
			<legend><h3>Changer l'image de profil</h3></legend>
			<input type="file" id="new_image"/>
			<br/>
			<img src="" id="preview_image">
			<br/>
			<input type="button" id="valid_image" value="Utiliser cette image"/>
		</fieldset>
		<a href="../main.html" class="link_button">
			<div class="button_labeled" id="return_button">
				<img src="../image/boutons/retour.png">
				<span>retour &agrave; la page principale</span>
			</div>
		</a>
	</body>
</html>
