<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/medailles.css">
		<script src="../js/main.js"></script>
		<script src="../js/medailles.js"></script>
	</head>
	<body>
		<details>
			<summary>
				<img src="../image/propriete/def.png">
				Défenseur : 
				<img id="def_img"/>
				<span id="def_txt"></span>
			</summary>
			<p>Cette médaille est attribuée avec vos points de défense, donnés lorsque vos molécules font des dégâts aux adversaires vous attaquant<br>
			Elle augmente votre défense</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/def.png"><span id="def_actual"></span></div><br>
			Points pour le niveau suivant : <span id="def_points"></span>
		</details>
		<details>
			<summary>
				<img src="../image/propriete/atk.png">
				Attaquant : 
				<img id="atk_img"/>
				<span id="atk_txt"></span>
			</summary>
			<p>Cette médaille est attribuée avec vos points d'attaque, donnés lorsque vos molécules font des dégâts aux adversaires lorsque vous attaquez<br>
			Elle augmente votre attaque</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/atk.png"><span id="atk_actual"></span></div><br>
			Points pour le niveau suivant : <span id="atk_points"></span>
		</details>
		<details>
			<summary>
				<img src="../image/armee/molecule.png">
				Chimiste : 
				<img id="mol_img"/>
				<span id="mol_txt"></span>
			</summary>
			<p>Cette médaille est attribuée lorsque vous créez des molécules<br>
			Elle diminue votre temps de production de molécules</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/TP.png"><span id="mol_actual"></span></div><br>
			Points pour le niveau suivant : <span id="mol_points"></span>
		</details>
		<details>
			<summary>
				<img src="../image/ressources/temps.png">
				Désintègreur : 
				<img id="tps_img"/>
				<span id="tps_txt"></span>
			</summary>
			<p>Cette médaille est attribuée lorque vos molécules se désintègrent<br>
			Elle augmente votre temps de vie de molécule</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/TV.png"/><span id="tps_actual"></span></div><br>
			Points pour le niveau suivant : <span id="tps_points"></span>
		</details>
		<details>
			<summary>
				<img src="../image/armee/pertes.png">
				Blindé : 
				<img id="prt_img"/>
				<span id="prt_txt"></span>
			</summary>
			<p>Cette médaille est attribuée lorque vos molécules absorbent des dégâts<br>
			Elle augmente la solidité de vos molécules</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/vie.png"/><span id="prt_actual"></span></div><br>
			Points pour le niveau suivant : <span id="prt_points"></span>
		</details>
		<details>
			<summary>
				<img src="../image/propriete/deg.png">
				Terroriste : 
				<img id="des_img"/>
				<span id="des_txt"></span>
			</summary>
			<p>Cette médaille est attribuée lorsque vos molécules détruisent les bâtiments adverses<br>
			Elle augmente la puissance de destruction de vos molécules</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/deg.png"/><span id="des_actual"></span></div><br>
			Points pour le niveau suivant : <span id="des_points"></span>
		</details>
		<details>
			<summary>
				<img src="../image/propriete/pil.png">
				Pillard : 
				<img id="pil_img"/>
				<span id="pil_txt"></span>
			</summary>
			<p>Cette médaille est attribuée lorque vos molécules pillent des ressources<br>
			Elle augmente le pillage de vos molécules</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/pil.png"/><span id="pil_actual"></span></div><br>
			Points pour le niveau suivant : <span id="pil_points"></span>
		</details>
		<details>
			<summary>
				<img src="../image/actions/combat.png">
				Combattant : 
				<img id="cmb_img"/>
				<span id="cmb_txt"></span>
			</summary>
			<p>Cette médaille est attribuée lorsque vous attaquez des adversaires<br>
			Elle augmente la vitesse de vos molécules</p>
			Bonus actuel : <div class="ressource positive"><img src="../image/propriete/vit.png"/><span id="cmb_actual"></span></div><br>
			Points pour le niveau suivant : <span id="cmb_points"></span>
		</details>
	</body>
</html>
