<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/rapports.css">
		<script src="../js/main.js"></script>
		<script src="../js/rapports.js"></script>
	</head>
	<body>
		<div id="popup_mask" style="display: none;"></div>
		<div id="popup_combat" class="fenetre" style="display:none;">
			<div id="title_cmb"></div>
			<table id="mols_table">
				<caption>Molécules avant le combat</caption>
				<tbody>
					<tr><th scope="col" colspan="5" id="deftitle">Défense</th></tr>
					<tr id="mols_def"></tr>
					<tr id="molsnumber_def"></tr>
				</tbody>
				<tbody>
					<tr><th scope="col" colspan="5" id="atktitle">Attaque</th></tr>
					<tr id="mols_atk"></tr>
					<tr id="molsnumber_atk"></tr>
				</tbody>
			</table>
			<table id="restmols_table">
				<caption>Molécules restantes pour le gagnant</caption>
				<tbody>
					<tr id="restmols"></tr>
					<tr id="restmolsnumber"></tr>
				</tbody>
			</table>
			<table>
				<caption>Pillage</caption>
				<tbody>
					<tr>
						<td><img class="icon" src="../image/ressources/carbone.png"></td>
						<td><img class="icon" src="../image/ressources/oxygene.png"></td>
						<td><img class="icon" src="../image/ressources/azote.png"></td>
						<td><img class="icon" src="../image/ressources/iode.png"></td>
						<td><img class="icon" src="../image/ressources/brome.png"></td>
						<td><img class="icon" src="../image/ressources/hydrogene.png"></td>
						<td><img class="icon" src="../image/ressources/soufre.png"></td>
						<td><img class="icon" src="../image/ressources/chlore.png"></td>
					</tr>
					<tr>
						<td id="carbone_pillage"></td>
						<td id="oxygene_pillage"></td>
						<td id="azote_pillage"></td>
						<td id="iode_pillage"></td>
						<td id="brome_pillage"></td>
						<td id="hydrogene_pillage"></td>
						<td id="soufre_pillage"></td>
						<td id="chlore_pillage"></td>
					</tr>
				</tbody>
			</table>
			<table id="destr_combat">
				<caption>Destruction</caption>
				<tbody>
					<tr>
						<td><img class="icon" src="../image/batiments/generateur.png"></td>
						<td><img class="icon" src="../image/batiments/producteur.png"></td>
						<td><img class="icon" src="../image/batiments/depot.png"></td>
					</tr>
					<tr>
						<td id="generateur_destruction"></td>
						<td id="producteur_destruction"></td>
						<td id="stockage_destruction"></td>
					</tr>
				</tbody>
			</table>
			<div id="destr_cmb_team">Destruction : <span id="team_destruction"></span></div>
		</div>
		<table>
			<caption><h3>Rapports</h3></caption>
			<thead>
				<tr>
					<td><input type="checkbox" id="general_checkbox"></td>
					<td>Type de rapport</td>
					<td>Date / heure</td>
					<td>Action</td>
				</tr>
			</thead>
			<tbody id="reports_list"></tbody>
			<tfoot>
				<tr>
					<td colspan="3">Rapports sélectionnés</td>
					<td>
						<img src="../image/autre/supprimer.png" id="delete_selected" class="button"/>
					</td>
				</tr>
			</tfoot>
		</table>
	</body>
</html>
