<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../css/main.css">
		<link rel="stylesheet" href="../css/userteam.css">
		<script src="../js/main.js"></script>
		<script src="../js/userteam.js"></script>
	</head>
	<body>
		<div id="preview_user" class="alternate_body">
			<img id="user_image_profil"/>
			<div class="ressource">
				<img src="../image/autre/username.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_name">Bidule</span>
			</div>
			<br/>
			<div class="ressource" id="team_link" style="cursor:pointer;">
				<img src="../image/lieux/alliance.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_team">Aucune</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/points.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_points">0</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/victoires.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_victory">0</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/lieux/carte.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_position">Aucune</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/autre/calendrier.png" class="icon_ressource"/>
				<span class="text_ressource" id="user_last_connexion">Jamais</span>
			</div>
			<br/>
			<div id="user_actions">
				<div class="button_labeled" id="user_button_attaquer">
					<img src="../image/actions/combat.png">
					<span>Attaquer</span>
				</div>
				<div class="button_labeled" id="user_button_espionner">
					<img src="../image/actions/esp.png">
					<span>Espionner</span>
				</div>
				<div class="button_labeled" id="user_button_donner">
					<img src="../image/actions/don.png">
					<span>Donner</span>
				</div>
			</div>
			<fieldset>
				<legend>Description</legend>
				<div id="user_description"></div>
			</fieldset>
		</div>
		<div id="preview_team" class="alternate_body">
			<div class="ressource" id="team_name_outer">
				<img src="../image/lieux/alliance.png" class="icon_ressource"/>
				<span class="text_ressource" id="team_name">Bidule</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/points.png" class="icon_ressource"/>
				<span class="text_ressource" id="team_points">0</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/pointsindemnite.png" class="icon_ressource"/>
				<span class="text_ressource" id="team_indemnite">0</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/sommepoints.png" class="icon_ressource"/>
				<span class="text_ressource" id="team_somme">0</span>
			</div>
			<br/>
			<div class="ressource">
				<img src="../image/ressources/victoires.png" class="icon_ressource"/>
				<span class="text_ressource" id="team_victory">0</span>
			</div>
			<br/>
			<div class="ressource" id="chief_link" style="cursor:pointer;">
				<img src="../image/equipe/chef.png" class="icon_ressource"/>
				<span class="text_ressource" id="team_chief">0</span>
			</div>
			<br/>
			<table>
				<caption>Membres</caption>
				<thead>
					<tr>
						<td>Joueur</td>
						<td>Grades</td>
					</tr>
				</thead>
				<tbody id="team_members_list">
				</tbody>
			</table>
			<div id="team_actions">
				<div class="button_labeled" id="team_button_attaquer">
					<img src="../image/actions/combat.png">
					<span>Attaquer</span>
				</div>
			</div>
			<fieldset>
				<legend>Description</legend>
				<div id="team_description"></div>
			</fieldset>
		</div>
		<div id="attaquer" class="alternate_body">
			<fieldset>
				<legend>
					Attaquer un(e)
					<select id="attaquer_what">
						<option disabled selected>quoi</option>
						<option value="user">Joueur</option>
						<option value="team">Alliance</option>
					</select>
				</legend>
				<input type="search" id="attaquer_target" placeholder="Cible" list="">
				<br/>
				<span id="attaquer_formule0" class="formule">Vide</span>
				<input type="number" id="attaquer_mol0" placeholder="Molécules 1">
				<input type="button" id="attaquer_mol0_max" value="max">
				<br/>
				<span id="attaquer_formule1" class="formule">Vide</span>
				<input type="number" id="attaquer_mol1" placeholder="Molécules 2">
				<input type="button" id="attaquer_mol1_max" value="max">
				<br/>
				<span id="attaquer_formule2" class="formule">Vide</span>
				<input type="number" id="attaquer_mol2" placeholder="Molécules 3">
				<input type="button" id="attaquer_mol2_max" value="max">
				<br/>
				<span id="attaquer_formule3" class="formule">Vide</span>
				<input type="number" id="attaquer_mol3" placeholder="Molécules 4">
				<input type="button" id="attaquer_mol3_max" value="max">
				<br/>
				<span id="attaquer_formule4" class="formule">Vide</span>
				<input type="number" id="attaquer_mol4" placeholder="Molécules 5">
				<input type="button" id="attaquer_mol4_max" value="max">
				<br/>
				<div class="button_labeled" id="attaquer_button">
					<img src="../image/actions/combat.png">
					<span>Attaquer</span>
				</div>
			</fieldset>
		</div>
		<div id="donner" class="alternate_body">
			<fieldset>
				<legend>
					Donner a un joueur
				</legend>
				<input type="search" id="donner_target" placeholder="Cible" list="user_autocomplete_list">
				<br/>
				<img src="../image/ressources/energie.png" class="icon">
				<input id="donner_energie" type="number" placeholder="Energie" min="0"><br>
				<img src="../image/ressources/carbone.png" class="icon">
				<input id="donner_carbone" type="number" placeholder="Carbone" min="0"><br>
				<img src="../image/ressources/oxygene.png" class="icon">
				<input id="donner_oxygene" type="number" placeholder="Oxyg&egrave;ne" min="0"><br>
				<img src="../image/ressources/azote.png" class="icon">
				<input id="donner_azote" type="number" placeholder="Azote" min="0"><br>
				<img src="../image/ressources/iode.png" class="icon">
				<input id="donner_iode" type="number" placeholder="Iode" min="0"><br>
				<img src="../image/ressources/brome.png" class="icon">
				<input id="donner_brome" type="number" placeholder="Brome" min="0"><br>
				<img src="../image/ressources/hydrogene.png" class="icon">
				<input id="donner_hydrogene" type="number" placeholder="Hydrog&egrave;ne" min="0"><br>
				<img src="../image/ressources/soufre.png" class="icon">
				<input id="donner_soufre" type="number" placeholder="Soufre" min="0"><br>
				<img src="../image/ressources/chlore.png" class="icon">
				<input id="donner_chlore" type="number" placeholder="Chlore" min="0"><br>
				<div class="button_labeled" id="donner_button">
					<img src="../image/actions/don.png">
					<span>Donner</span>
				</div>
			</fieldset>
	</body>
</html>
