summary::-webkit-details-marker{
    display: none
}
summary::marker{
    display: none
}
#batiment_list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
}
.batiment_card{
    margin: 12px;
    border: 1px solid #000000;
    padding: 12px;
    border-radius: 10px;
    background-image: url("../image/backgroung_card.jpg");
}
.batiment_icon{
    height: 100px;
    width: 100px;
}
.batiment_name{
    font-family: BigTitle;
    font-size: 25px;
}
.batiment_right_of_icon{
    display: inline-block;
    vertical-align: text-bottom;
}