#map_ground{
	overflow: auto;
	margin: 10px;
	border: 1px solid #000000;
	height: 75%;
	width: auto;
	white-space: nowrap;
	line-height: 0px;
	box-sizing: border-box;
	position: relative;
}
.case{
	height: 64px;
	width: 64px;
	display: inline-block;
	border: 1px dotted #000000;
	position: absolute;
}