body{
	height: 100%;
}
#map_ground{
	overflow: auto;
	margin: 10px;
	border: 1px solid #000000;
	height: 75%;
	width: auto;
	box-sizing: border-box;
	position: relative;
}
#preview{
	padding: 10px;
}
.case{
	box-sizing: border-box;
	height: 64px;
	width: 64px;
	display: inline-block;
	border: 1px solid #000000;
	position: absolute;
}
.case.selected{
	border-color: #ff0000;
}
