thead th{
	font-size: 15px;
	font-weight: normal;
}

td{
	border-left: 0px none;
	border-right: 0px none;
}
table{
	width: 98%;
	margin: 1%;
	table-layout: fixed;
}
thead .smallcase{
	width: 4% !important;
}
#actual_table thead th{
	width: 6%
}
#actual_table thead .bigcase{
	width: 15%;
}
#teams_table thead th{
	width: 14%
}
#teams_table thead .bigcase{
	width: 40%;
}
#general_table thead th{
	width: 11%
}
#general_table thead .bigcase{
	width: 37%;
}
#buttons{
	position: fixed;
	bottom: 0px;
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-around;
}
