#forum_legend{
	width: 100%;
	height: 10%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-items: flex-start;
}
.forum_legend_element{
	margin: 10px;
}
.forum_legend_image{
	height: 50px;
	width: 50px;
	vertical-align: middle;
}
.forum_list{
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
	height: 60%;
	width: 100%;
	overflow-y: scroll;
}
.forum{
	margin: 12px;
	border: 1px solid #000000;
	padding: 12px;
	border-radius: 10px;
	background-image: url("../image/backgroung_card.jpg");
	cursor: pointer;
}
.status{
	width: 50px;
	height: 50px;
	vertical-align: middle;
}
.forum_name{
	padding: 10px;
}
.message_list{
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 60%;
	width: 100%;
	overflow-y: scroll;
}
.message{
	margin: 12px;
	border: 1px solid #000000;
	padding: 12px;
	border-radius: 10px;
}
.message_avatar{
	width: 75px;
	height: 75px;
	vertical-align: text-bottom;
}
.message_textinfo{
	display: inline-block;
	height: 75px;
	font-size: 23px;
}
.message_title{
	font-family: BigTitle;
}
.message_username{
	color: #404040;
}
.message_datetime{
	color: #808080;
}
.send_message{
	height: 25%;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}
.message_edit_button{
	width: 75px;
	height: 75px;
	vertical-align: text-bottom;
}
.send_message_image{
	height: 100px;
	width: 100px;
	padding: 6px;
	border: 1px solid #000000;
	margin: 6px;
	border-radius: 2px;
}
.send_message_text{
	display: inline-block;
	height: 100px;
	width: 50%;
	padding: 6px;
	border: 1px dashed #000000;
	margin: 6px;
	border-radius: 3px;
	resize: none;
}