body{
	text-align: center;
}
fieldset{
	display: inline-block;
	width: 375px;
}
textarea{
	width: 100%;
	resize: vertical;
}
#return_button{
	position: fixed;
	bottom: 0px;
	left: 0px;
}
#preview_image{
	width: 150px;
	height: 150px;
}