summary{
	display:block;
}
details{
	margin: 12px;
	border: 1px solid #000000;
	padding: 12px;
	border-radius: 10px;
	background-image: url("../image/backgroung_card.jpg");
	width: 25%
}
summary>img{
	width: 40px;
	height: 40px;
	margin: 5px;
	vertical-align: middle;
}