#user_actions{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
#user_image_profil{
	width: 100px;
	height: 100px;
	float: right;
}
.formule{
	display: inline-block;
	background-color: #c0c0c0;
	padding: 5px;
	border-radius: 5px;
	border: 2.5px outset #808080;
}
.formule:hover{
	border: 2.5px inset #808080;
}