<!DOCTYPE html>
<html>
	<head>
		<title>The Very Little War</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/main.css">
		<script src="js/main.js"></script>
	</head>
	<body>
		<div id="topbar">
			<div class="ressource">
				<img src="image/ressources/energie.png" class="icon_ressource">
				<span class="text_ressource" id="preview_energie">100</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/carbone.png" class="icon_ressource">
				<span class="text_ressource" id="preview_carbone">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/oxygene.png" class="icon_ressource">
				<span class="text_ressource" id="preview_oxygene">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/azote.png" class="icon_ressource">
				<span class="text_ressource" id="preview_azote">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/iode.png" class="icon_ressource">
				<span class="text_ressource" id="preview_iode">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/brome.png" class="icon_ressource">
				<span class="text_ressource" id="preview_brome">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/hydrogene.png" class="icon_ressource">
				<span class="text_ressource" id="preview_hydrogene">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/soufre.png" class="icon_ressource">
				<span class="text_ressource" id="preview_soufre">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/chlore.png" class="icon_ressource">
				<span class="text_ressource" id="preview_chlore">10</span>
			</div>
			<div class="ressource">
				<img src="image/ressources/points.png" class="icon_ressource">
				<span class="text_ressource" id="preview_points">10</span>
			</div>
		</div>
		<div id="iframe0" class="iframe" style="top:10%;left:7.5%;">
			<div class="small_content" onclick="open_iframe(0)">
				<img class="miniature" src="image/lieux/armee.png">
			</div>
			<div class="big_content">
				<iframe src="html/armee.html"></iframe>
			</div>
		</div>
		<div id="iframe1" class="iframe" style="top:40%;left:7.5%;">
			<div class="small_content" onclick="open_iframe(1)">
				<img class="miniature" src="image/lieux/alliance.png">
			</div>
			<div class="big_content">
				<iframe src="html/alliance.html"></iframe>
			</div>
		</div>
		<div id="iframe2" class="iframe" style="top:70%;left:7.5%;">
			<div class="small_content" onclick="open_iframe(2)">
				<img class="miniature" src="image/lieux/forum.png">
			</div>
			<div class="big_content">
				<iframe src="html/forum.html"></iframe>
			</div>
		</div>
		<div id="iframe3" class="iframe" style="top:10%;left:37.5%;">
			<div class="small_content" onclick="open_iframe(3)">
				<img class="miniature" src="image/lieux/carte.png">
			</div>
			<div class="big_content">
				<iframe src="html/carte.html"></iframe>
			</div>
		</div>
		<div id="iframe4" class="iframe" style="top:40%;left:37.5%;">
			<div class="small_content" onclick="open_iframe(4)">
				<img class="miniature" src="image/lieux/rapports.png">
			</div>
			<div class="big_content">
				<iframe src="html/rapports.html"></iframe>
			</div>
		</div>
		<div id="iframe5" class="iframe" style="top:70%;left:37.5%;">
			<div class="small_content" onclick="open_iframe(5)">
				<img class="miniature" src="image/lieux/message.png">
			</div>
			<div class="big_content">
				<iframe src="html/messages.html"></iframe>
			</div>
		</div>
		<div id="iframe6" class="iframe" style="top:10%;left:67.5%;">
			<div class="small_content" onclick="open_iframe(6)">
				<img class="miniature" src="image/lieux/batiments.png">
			</div>
			<div class="big_content">
				<iframe src="html/batiments.html"></iframe>
			</div>
		</div>
		<div id="iframe7" class="iframe" style="top:40%;left:67.5%;">
			<div class="small_content" onclick="open_iframe(7)">
				<img class="miniature" src="image/lieux/classement.png">
			</div>
			<div class="big_content">
				<iframe src="html/classement.html"></iframe>
			</div>
		</div>
		<div id="iframe8" class="iframe" style="top:70%;left:67.5%;">
			<div class="small_content" onclick="open_iframe(8)">
				<img class="miniature" src="image/lieux/medailles.png">
			</div>
			<div class="big_content">
				<iframe src="html/medailles.html"></iframe>
			</div>
		</div>
		<div id="popup_mask" style="display: none;"></div>
		<a href="html/accueil.html" class="link_button">
			<div class="button_labeled rotated" id="accueil_button">
				<img src="image/autre/accueil.png" class="button_labeled_image">
				<span class="button_labeled_label">accueil</span>
			</div>
		</a>
	</body>
</html>
